<div class="new-vid-container">
  <div><h1>New Video</h1></div>
  <%= form_for Video.new do |f| %>
    <div id="video-title">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div id="video-desc">
      <f.label :description">Description:</label>
      <input type="text" id="description" name="video[description]">
    </div>
    <div id="video-youtube">
      <label for="youtube_id">Youtube ID:</label>
      <input type="text" id="youtube_id" name="video[youtube_id]">
    </div>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div id="video-submit">
      <input type="submit" value="add video">
    </div>
  </form>
</div>